*{
    -fx-primary-color:#032d3b;
    -fx-focus-color:#3498db;
}
.lateral-area-bg{
    -fx-background-color: #ccc;
    -fx-alignment:top-center;


}
.label{
    -fx-text-fill: white;
}
.lateral-button{
    -fx-padding: 5px 5px 5px 15px;
}
.lateral-button:pressed{
    -fx-background-color: -fx-primary-color;

}
