*{
    -fx-primary-color:#032d3b;
    -fx-focus-color:#3498db;
}
.lateral-area-bg{
    -fx-background-color: #032d3b;
    -fx-alignment:top-center;
    -fx-padding: 0 0 0 0px;
}
.label{
    -fx-text-fill: white;
}
.lateral-button{
    -fx-padding: 20px 0px 20px 0px;
}
.lateral-button:pressed{
    -fx-background-color: #FFFFFF10;
}
.lateral-button:hover{
    -fx-background-color: rgba(255, 255, 255, 0.5);
}
.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0.0,0.0,0.0,0.2),10.0,0.0,0.0,10.0);
}

/*.lateral-area-configuration-bg{
    -fx-background-color: #ccc;
    -fx-alignment:top-center;
    -fx-padding: 0 0 0 5px;
}*/
